@use "./variables";

:root {
  --background-color: #f1f1f1;
  --text-color: #22272e;

  --header-background-color: #ffffff;
  --header-text-color: #22272e;

  --logotype-color: #22272e;

  --footer-background-color: #ffffff;
  --footer-text-color: #22272e;

  --listbox-background-color: #fff;
  --listbox-text-color: #22272e;

  --button-background-color: var(--color-yellow-400);
  --button-text-color: var(--color-yellow-900);
  --button-hover-background-color: var(--color-yellow-300);
  --icon-button-background-color: var(--color-yellow-50);
  --icon-button-color: var(--color-yellow-900);

  --input-background-color: #f1f1f1;
  --input-border-color: #ededed;
  --input-text-color: #22272e;
  --input-disabled-background-color: #fff;
  --input-disabled-border-color: #fff;
  --input-disabled-text-color: #fff;

  --progressbar-background: var(--color-yellow-100);
  --progressbar-thumb: var(--color-yellow-900);
}

html.dark {
  color-scheme: dark;

  --background-color: #22272e;
  --text-color: #768390;

  --header-background-color: #2d333b;
  --header-text-color: #678390;

  --logotype-color: #768390;

  --footer-background-color: #2d333b;
  --footer-text-color: #768390;

  --listbox-background-color: #fff;
  --listbox-text-color: #22272e;

  --button-background-color: #373e47;
  --button-text-color: #768390;
  --icon-button-background-color: #373e47;
  --icon-button-color: #768390;

  --input-background-color: #1c2128;
  --input-border-color: #444c56;
  --input-text-color: #768390;
  --input-disabled-background-color: #fff;
  --input-disabled-border-color: #fff;
  --input-disabled-text-color: #fff;

  --progressbar-background: #d3deff;
  --progressbar-thumb: #316dca;
}
