.button {
  padding: 12px 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &.large {
    padding: 0px 16px;
    min-width: 140px;
    height: 56px;
  }

  &.medium {
    padding: 0px 16px;
    min-width: 120px;
    height: 48px;
  }

  &.small {
    padding: 0px 16px;
    min-width: 80px;
    height: 36px;
    font-size: 14px;
    line-height: 20px;
  }

  &.primary {
    color: var(--button-text-color);
    background-color: var(--button-background-color);

    &:hover:enabled {
      filter: brightness(0.95);
    }

    &:focus-visible {
      outline: 2px dashed #e737a3;
      outline-offset: 2px;
    }

    &:active:enabled {
      filter: brightness(0.9);
    }
  }

  &.outline {
    background-color: transparent;
    color: var(--color-yellow-900);
    background-color: transparent;
    border: 1px solid var(--color-yellow-900);

    &:hover:enabled {
      background-color: var(--color-yellow-100);
    }

    &:focus-visible {
      outline: 2px solid #e737a3;
      outline-offset: 2px;
    }

    &:active:enabled {
      background-color: var(--color-yellow-200);
    }
  }

  &.ghost {
    background-color: transparent;

    &:hover:enabled {
      background-color: var(--color-yellow-100);
    }

    &:focus-visible {
      outline: 2px solid #e737a3;
      outline-offset: 2px;
    }

    &:active:enabled {
      background-color: var(--color-yellow-200);
    }
  }

  &.geometric {
    border-radius: var(--rounded-none);
  }

  &.rounded {
    border-radius: var(--rounded-md);
  }

  &.circular {
    border-radius: var(--rounded-full);
  }

  &:disabled {
    background-color: var(--color-gray-60) !important;
    color: var(--color-gray-100) !important;
    cursor: default;
  }
}
