.lang-switcher {
  padding: 12px;
  display: flex;
  border: 0;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 16px;
  cursor: pointer;

  svg {
    width: 20px;
  }
}

.lang-list {
  padding: 4px;
  list-style: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: #1a1a1a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  &__item {
    display: flex;
    align-items: center;
    column-gap: 4px;

    svg {
      width: 20px;
    }
  }
}
