.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
  user-select: none;
  color: var(--icon-button-color);
  transition: background-color 0.2s ease-in-out;

  &:not(:disabled) {
    &:hover {
      background-color: var(--icon-button-background-color);
    }

    &:focus-visible {
    }

    &:active {
    }
  }

  &.large {
    width: 56px;
    height: 56px;
  }

  &.medium {
    width: 48px;
    height: 48px;
  }

  &.small {
    width: 32px;
    height: 32px;
    font-size: 20px;
  }

  &.primary {
    color: var(--button-text-color);
    background-color: var(--button-background-color);

    &:hover:enabled {
      background-color: var(--color-yellow-300);
    }

    &:focus-visible {
      outline: 2px dashed #e737a3;
      outline-offset: 2px;
    }

    &:active:enabled {
      background-color: var(--color-yellow-200);
    }
  }

  &.outline {
    background-color: transparent;
    color: var(--color-yellow-900);
    background-color: transparent;
    border: 1px solid var(--color-yellow-900);

    &:hover:enabled {
      background-color: var(--color-yellow-100);
    }

    &:focus-visible {
      outline: 2px dashed #e737a3;
      outline-offset: 2px;
    }

    &:active:enabled {
      background-color: var(--color-yellow-200);
    }
  }

  &.ghost {
    background-color: var(--icon-button-ghost-bg);

    &:hover:enabled {
      background-color: var(--icon-button-ghost-bg-hover);
    }

    &:focus-visible {
      outline: 2px dashed #e737a3;
      outline-offset: 2px;
    }

    &:active:enabled {
      background-color: var(--icon-button-ghost-bg-active);
    }
  }

  &.geometric {
    border-radius: var(--rounded-none);
  }

  &.rounded {
    border-radius: var(--rounded-md);
  }

  &.circular {
    border-radius: var(--rounded-full);
  }

  &:disabled {
    background-color: var(--color-gray-60) !important;
    color: var(--color-gray-100) !important;
    cursor: default;
  }
}
