@use "./styles/reset";
@use "./styles/vars";
@use "./styles/themes";
@use "./styles/global";
@use "./styles//variables";

:root {
  color-scheme: light dark;
}

html {
  color-scheme: light;
}

body {
  font-family: var(--font-body, sans-serif);
  background: var(--background-color);
  color: var(--text-color);
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 16px;
  overflow: hidden;
}

.overflow {
  overflow: hidden;
}
